@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/



main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 200px 1fr 1fr / 30px 1fr 30px;
}

section#perfil {
  grid-area: 1 / 2 / 2 / -2 ;
}

section#portfolio {
  grid-area: 2 / 2 / 3 / -2;
}

footer {
  grid-area: 3 / 2 / 4 / -2;
  text-align: center;
}