@charset "UTF-8";

section {
    width: 700px;
    height: 300px;
}

div#img {
    height: 300px;
    width: 300px;
    background-image: url(../imagens/imagem-m.jpg);
    border-radius: 20px 0 0 20px;
}

form {
    width: 400px;
    height: 250px;
    margin-top: -300px;
    margin-left: 300px;
}

input {
    margin-left: 20px;
    width: 300px;
}