@charset "UTF-8";

:root {
    --verde: #2E5935;
    --verde-escuro: #2D3C29;
    --marron-claro: #A6774E;
    --marron-escuro: #401801;  
}

section {
    width: 700px;
    height: 300px;
}

div#img {
    height: 300px;
    width: 300px;
    background-image: url(../imagens/imagem-m.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
}

form {
    display: flex;
    width: 400px;
    height: 250px;
    flex-direction: column;
    margin-top: -300px;
    margin-left: 300px;
}

