@charset "UTF-8";

section {
    width: 950px;
    height: 400px;
}

div#img {
    height: 400px;
    width: 400px;
    background-image: url(../imagens/imagem-g.jpg);
    margin-left: 550px;
    border-radius: 0 20px 20px 0;
}

form {
    width: 550px;
    height: 400px;
    margin-top: -390px;
    margin-left: 0;
    padding: 15px;
}

input {
    margin-left: 20px;
    width: 420px;
}

.fundo {
    margin: 10px;
}

.botao {
    height: 60px;
    padding: 20px 5px 5px 5px;
    margin: 10px 10px;
}