@charset "UTF-8";

/*
Paleta de Cores
#2E5935
#2D3C29
#A6774E
#401801
*/

:root {
    --verde: #2E5935;
    --verde-escuro: #2D3C29;
    --marron-claro: #A6774E;
    --marron-escuro: #401801;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: var(--verde-escuro);
}

div#img {
    height: 200px;
    background-image: url(../imagens/imagem-p.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    
}

section {
    display: block;
    position: absolute;
    width: 250px;
    height: 545px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}

section img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin: auto;
}

legend {
    text-align: center;
    padding: 10px;
}

legend h1 {
    font-weight: bolder;
}

form > p {
    padding: 10px;
    font-size: 0.9em;
}

.fundo {
    height: 40px;
    background-color: var(--verde-escuro);
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
}

.material-symbols-outlined {
    color: white;
}

.key {
    color: white;
    margin: auto;
    width: 22.5px;
}

input {
    width: 180px;
}

.botao {
    height: 40px;
    background-color: var(--marron-claro);
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#botao2 {
    background-color: white;
    border: 2px solid var(--marron-claro);
}

.botao p {
    text-align: center;
}

label {
    cursor: pointer;
}

a {
    text-decoration: none;
}

input#entrar {
    display: none;
}