@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#content {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    right: 0;
}

a {
    display: block;
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
    background-color: black;
    margin: 2vw 2vw 0 0;
}

#tela-home {
    background-image: url(imagens/logo-home.jpg);
    background-size: contain;
}

#github {
    background-image: url(imagens/logo-github.jpg);
    background-size: contain;
}

#youtube {
    background-image: url(imagens/logo-youtube.jpg);
    background-size: contain;
}

#facebook {
    background-image: url(imagens/logo-facebook.jpg);
    background-size: contain;
}

#instagram {
    background-image: url(imagens/logo-instagram.jpg);
    background-size: contain;
}

#lh {
    background-image: url(imagens/logo-lh.jpg);
    background-size: contain;
}

li {
    list-style-type: none;
}

#smartphone {
    position: absolute;
    background-image: url(imagens/frame-iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 694px;
    height: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela {
    position: relative;
    width: 694px;
    height: 1400px;
}

iframe {
    position: absolute;
    width: 655px;
    height: 1070px;
    top: 50%;
    left: 53.5%;
    transform: translate(-50%, -50%);
}