@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: darkgray;
}

article.media-text,
article.text-media  {
    display: flex;
}

article.media-text {
    flex-flow: row wrap-reverse;
}

article.text-media {
    flex-flow: row wrap;
}

div.text, div.media {
    border: 1px dotted black;
}

div.text {
    flex: 1 0 500px;
}

div.media {
    display: flex;
    justify-content: center;
    flex: 1 0 500px;
}

