@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: darkgray;

    display: flex;
    flex-flow: column nowrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
}

article > div.text {
    flex: 1 0 300px;
    margin: 5px;

    border: 2px dashed blue;
}

article > div.media {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    margin: 5px;

    border: 2px dashed red;
}

img, iframe {
    display: block;
    width: 100%;
}