@charset "UTF-8";

@font-face {
    font-family: 'passion';
    src: url(fontes/PassionOne-Bold.ttf);
}

@font-face {
    font-family: 'sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal normal 16px Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

header div{
    padding: 50px;
}

header h1 {
    font: normal bolder 7vw 'passion', Impact;
    text-align: center;
}

header span {
    font-size: 10vw;
}

header p {
    text-align: center;
    font-size: 1.05em;
    letter-spacing: 0.05em;
}

.padrao {
    background-color: white;
    color: black;
}

article {
    padding: 60px 0px 60px 30px;
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#foto1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#foto2 {
    background-image: url(imagens/background002.jpg);
    background-position: left bottom;
}

.parallax article{
    box-shadow: inset 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.parallax p {
    box-sizing: content-box;
    width: 42vw;
    padding: 5px;
    background-attachment: fixed;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.5);
}

.cordel {
    padding: 10px 0px;
    white-space: pre-line;
    font-family: 'sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
}

footer p {
    text-align: center;
    padding: 8px;
    font-size: 1.1em;
    font-family: Tahoma, sans-serif;
}

footer span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}